<html>
<head>
	<title>Test</title>
	<%= GMap.header %>
	<%= @map.to_html %>
</head>
<body>

<!--#displays hello (username)-->
<pre>
hello <strong><%=session[:user_id]%></strong>               <%= link_to "logout",:controller => "user", :action => "logout" %></br>
</pre>
<!--#creates logout link, when the link is clicked, the controller is User and the method executed will be logout.-->
</br>
	<%= @map.div(:width => 500, :height => 800) %>
	<%= yield %>

</body>
</html>
