<html>
<head>
	<title>Test</title>
	<%= GMap.header %>
	<%= @map.to_html %>
</head>
<body>
      <!--#displays hello (username)-->
hello <strong><%=session[:user_id]%></strong>. 
<!--#creates logout link, when the link is clicked, the controller is User and the method executed will be logout.-->
<%= link_to "logout",:controller => "user", :action => "logout" %>


	<%= @map.div(:width => 400, :height => 300) %>
	<%= yield %>

</body>
</html>
