
<p>
  <b>Username:</b>
  <%=h @location.username %>
</p>

<p>
  <b>Phonenumber:</b>
  <%=h @location.phonenumber %>
</p>

<p>
  <b>Latitude:</b>
  <%=h @location.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%=h @location.longitude %>
</p>

<p>
  <b>Time:</b>
  <%=h @location.time %>
</p>

<p>
  <b>Commtype:</b>
  <%=h @location.commType %>
</p>

<%if session[:admin]%>
<%= link_to 'Edit', edit_location_path(@location) %> |
<%end%>
<%= link_to 'Back', :controller=>'map', :action=>"index" %>
