<tr>
  <td><%=h location.username %></td>
  <td><%=h location.phonenumber %></td>
  <td><%=h location.latitude %></td>
  <td><%=h location.longitude %></td>
  <td><%=h location.time %></td>
  <td><%=h location.commType %></td>
  <td><%= link_to 'Show', location %></td>
  <td><%= link_to 'Edit', edit_location_path(location) %></td>
  <td><%= link_to 'Destroy', location, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
<% details = "#{location.username}<br/>#{location.phonenumber}<br/>#{location.time}<br/>#{location.commType}<br/>" %>
<% locationPointer = GMarker.new([location.latitude,location.longitude], :title => "#{location.username}", :info_window => details) %>
<% @map.overlay_init(locationPointer) %>

