<p>
  <b>Username:</b>
  <%=h @location.username %>
</p>

<p>
  <b>Phonenumber:</b>
  <%=h @location.phonenumber %>
</p>

<p>
  <b>Latitude:</b>
  <%=h @location.latitude %>                                                       
</p>

<p>
  <b>Longitude:</b>
  <%=h @location.longitude %>
</p>

<p>
  <b>Time:</b>
  <%=h @location.time %>
</p>

<p>
  <b>Commtype:</b>
  <%=h @location.commType %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>