<p>
  <b>Name:</b>
  <%=h @user.loginName %>
</p>

<!--p>
  <b>Hashed password:</b>
  <%=h @user.hashed_password %>
</p-->

<!--p>
  <b>Salt:</b>
  <%=h @user.salt %>
</p-->

<p>
  <b>Username:</b>
  <%=h @user.userName %>
</p>

<p>
  <b>Contactnumber:</b>
  <%=h @user.contactNumber %>
</p>

<p>
  <b>Address:</b>
  <%=h @user.address %>
</p>

<p>
  <b>Emailid:</b>
  <%=h @user.emailId %>
</p>

<!--p>
  <b>Registered:</b>
  <%=h @user.registered %>
</p-->


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>