<html>
<head>
<%= stylesheet_link_tag "default" %>
<h1> Log In </h1> 
</head>
<!--creates form, exectues the authenticate method when the submit button is clicked--> 
<body>

<%= form_tag :action=>'authenticate' %> 

User name: <%= text_field("userform", "userName",:size=>"20" ) %> <br /> <br />
Password: <%= password_field("userform","password",:size=>"20" )%> <br /> <br />

<%= button_to "Login" , :action => :authenticate %>
<br /> <br />
<%= yield %>
<%= link_to 'Create an account', new_user_path %>
</body>
</html>