<html>
<head>
	<%= stylesheet_link_tag "default" %>
	<title>Display Locations </title>
	<%= GMap.header %>
	<%= @map.to_html %>
</head>
<body>
<h1>Check Location</h1>
<table border =2 height="70%" width="100%" cellpadding="10">
<tr valign="top"> 
<td width="20%">
<div>
Hello <strong><%=session[:user_id]%></strong><br/><hr/>
</div>

<%= link_to 'Manage Account', :controller => "users", :action => "show", :id => session[:id] %><br/>
<%= link_to 'Latest Visited Locations', :controller => "map", :action => "lastN", :id => 5 %><br/>
<%= link_to 'Check Locations', :controller => "map", :action => "index" %><br />
<%if !session[:admin]%>
<a href="mailto:savio85@gmail.com">Contact Admin</a><br/>
<%end%>
<%if session[:admin]%>
<%= link_to 'List Users', :controller=> "users", :action =>"index"%><br>
<%end%>
<%= link_to "Logout",:controller => "user", :action => "logout" %><br /> <br />

</td>
<td width="80%">
<p align="center">
<%= @map.div(:width => 650, :height => 450) %>
</p>
<%= yield %>
</td>
</tr>
</table>

</body>
</html>
