<html>
<head>
	<%= stylesheet_link_tag "default" %>
	<title>Display Locations </title>
	<%= GMap.header %>
	<%= @map.to_html %>
</head>
<body>
<h1>Check Location</h1>
<table border =2 height="70%" width="100%" cellpadding="10">
<tr valign="top"> 
<td width="20%">
<div>
Hello <strong><%=session[:user_id]%></strong><br/><hr/>
</div>
<%= link_to 'Manage Account', :controller => "users", :action => "show", :id => session[:id] %><br/>
<%if !session[:admin]%>
<a href="mailto:savio85@gmail.com">Contact Admin</a><br/>
<%= link_to "logout",:controller => "user", :action => "logout" %><br /> <br />
<%end%>
<%if session[:admin]%>
<%= link_to 'List Users', :controller=> "users", :action =>"index"%>
<%end%>

</td>
<td width="80%">
<p align="center">
<%= @map.div(:width => 650, :height => 450) %>
</p>
<%= yield %>
</td>
</tr>
</table>

</body>
</html>
