<h1>Listing users</h1>

<table>
  <tr>
    <th>Loginname</th>
    <th>Hashed_password</th>
    <th>Salt</th>
    <th>Username</th>
    <th>Contactnumber</th>
    <th>Address</th>
    <th>Emailid</th>
    <th>Registered</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.loginName %></td>
    <td><%=h user.hashed_password %></td>
    <td><%=h user.salt %></td>
    <td><%=h user.userName %></td>
    <td><%=h user.contactNumber %></td>
    <td><%=h user.address %></td>
    <td><%=h user.emailId %></td>
    <td><%=h user.registered %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>
