

<!--p>
  <b>Hashed password:</b>
  <%=h @user.hashed_password %>
</p-->

<!--p>
  <b>Salt:</b>
  <%=h @user.salt %>
</p-->

<html>
<body>
<body>
<table align=center border =2 height="100%" width="100%" cellpadding="10">
<tr valign="top"> 
<td width="30%">
<font color = "maroon" size=5>
Hello <strong><%=session[:user_id]%></strong><br/><hr/>
</font>
<%= link_to 'Check Locations', :controller => "map", :action => "index" %><br />
<a href="mailto:sonia.jan18@gmail.com">Contact Admin</a><br/>
<%= link_to "logout",:controller => "user", :action => "logout" %><br /> <br />
</td>
<td width="80%">
<p align="center">
<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Username:</b>
  <%=h @user.userName %>
</p>

<p>
  <b>Contactnumber:</b>
  <%=h @user.contactNumber %>
</p>

<p>
  <b>Address:</b>
  <%=h @user.address %>
</p>

<p>
  <b>Emailid:</b>
  <%=h @user.emailId %>
</p>

<!--p>
  <b>Registered:</b>
  <%=h @user.registered %>
</p-->


<%= link_to 'Edit', edit_user_path(@user) %>
<!--%= link_to 'Back', users_path %-->
<br />
</table>
</body>
</html>